				a{
					color: #22BCE0;
				}

				body
				{
					background: #333;
					color: #4C4C4C;
					font-family: Arial;
					font-size: 16px;
					margin: 0;
				}

				header
				{
					padding-top: 0.2em;
					background: #24A041;
					text-align: center;
					padding: 0.5em;
				}
				header h1{
					font-size: 1.2em;
					font-weight: normal;
					margin: 0 0 0 0 ;
				}
				header #logo img{
					width: 50px;
					

				}

				nav{
					background:#20912D; 
					padding:0 0.5em;
					box-shadow: rgba(0,0,0,,0.5) 0px 0px 10px;
				}

				nav ul{
					list-style: none;
					margin: 0;
					padding:0;
				}

				nav ul li{
					display: inline-block;
					margin: 0 1..2em 0 0;
				}

				nav ul li a{
					color: white;
					display: block;
					padding: 0.5em 0;
				}

				footer
				{
					background: #24A041;
					color: rgba(255,255,255,0.7);
					padding: 1em;
					text-align: center;
					clear: both;
				}
				footer p:first-child
				{	
					margin-bottom: 0;
				}
				footer p:last-child
				{
					margin-top: 0;
				}

				footer p:last-child:after
				{
					content: "-"
				}

				footer p:last-child:before{
					content: "-"
				}

				footer a{
					color: white;

				}				
				.datagrid table { 
					border-collapse: collapse; 
					text-align: left; width: 100%; 
					}				
				.datagrid {
					font: normal 12px/150% Geneva, Arial, Helvetica, sans-serif;
					 background: #fff; 
					 overflow: hidden;
					 border: 2px solid #36752D;
					 -webkit-border-radius: 6px;
					 -moz-border-radius: 6px; 
					 border-radius: 6px;
				 }
					 
				.datagrid table td, .datagrid table th { 
					 padding: 12px 9px; 
				}
				.datagrid table thead th {
					background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );
					background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );
					filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
					background-color:#36752D;
					color:#FFFFFF; font-size: 18px; 
					font-weight: bold; 
					border-left: 1px solid #36752D;
			 } 
			 .datagrid table thead th:first-child {
			 	 border: none; 
			 }

			 .datagrid table tbody td {
			 	 color: #275420;
			 	  border-left: 1px solid #C6FFC2;
			 	  font-size: 14px;font-weight: normal; 
			 	  }
			 .datagrid table tbody .alt td {
			 	 background: #DFFFDE;
			 	  color: #275420;

			 }

			 .datagrid table tbody td:first-child {
			 	 border-left: none;
			  }
			  .datagrid table tbody tr:last-child td {
				 border-bottom: none;
			 }

			 .datagrid table tfoot td div { 
			 	border-top: 1px solid #36752D;
			 	background: #DFFFDE;
			 }

			 .datagrid table tfoot td { 
			 		padding: 0;
			 		 font-size: 12px 
			 } 

			 .datagrid table tfoot td div{ 
			 	padding: 2px;
			 }

			 .datagrid table tfoot td ul {
			  margin: 0;
			   padding:0;
			    list-style: none;
			     text-align: right; 
			 }

			 .datagrid table tfoot  li {
			  display: inline; 
			 }
			.datagrid table tfoot li a {
			 text-decoration: none;
			  display: inline-block;
			  padding: 2px 8px;
			  margin: 1px;
			  color: #FFFFFF;
			  border: 1px solid #36752D;
			  -webkit-border-radius: 3px;
			   -moz-border-radius: 3px;
			    border-radius: 3px;
			     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );
			     background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );
			     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
			     background-color:#36752D;

			}
		.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
			text-decoration: none;
			border-color: #275420;
			 color: #FFFFFF;
			  background: none; 
			  background-color:#36752D;
			}

		div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
			position: fixed !important;
			 }